In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
#Store the CSV you saved created in part one into a Data Frame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-19 05:09:33,-23.1203,-134.9692,78.13,70,7,4.38
1,1,Hilo,US,2021-04-19 05:09:33,19.7297,-155.0900,75.20,69,90,5.75
2,2,Kavieng,PG,2021-04-19 05:09:34,-2.5744,150.7967,84.72,70,96,9.13
3,3,Bredasdorp,ZA,2021-04-19 05:09:34,-34.5322,20.0403,62.60,88,100,8.05
4,4,Pilna,RU,2021-04-19 05:09:35,55.5539,45.9219,38.50,57,100,16.24

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [23]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.9)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [33]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-19 05:09:33,-23.1203,-134.9692,78.13,70,7,4.38
1,1,Hilo,US,2021-04-19 05:09:33,19.7297,-155.0900,75.20,69,90,5.75
2,2,Kavieng,PG,2021-04-19 05:09:34,-2.5744,150.7967,84.72,70,96,9.13
9,9,Saint-Philippe,RE,2021-04-19 05:09:37,-21.3585,55.7679,77.00,83,90,14.97
13,13,Cayenne,GF,2021-04-19 05:09:39,4.9333,-52.3333,80.01,100,90,8.43
15,15,Tambun,ID,2021-04-19 05:09:40,-6.2641,107.0712,89.60,55,40,6.91
16,16,Atuona,PF,2021-04-19 05:09:41,-9.8000,-139.0333,80.15,80,21,19.04
17,17,Hobyo,SO,2021-04-19 05:09:41,5.3505,48.5268,84.54,67,15,7.18
23,23,Bonthe,SL,2021-04-19 05:09:44,7.5264,-12.5050,79.63,82,72,4.63
24,24,Victoria,HK,2021-04-19 05:09:44,22.2855,114.1577,75.00,64,99,4.00

In [35]:
preferred_cities_df.count()

City_ID       209
City          209
Country       208
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Rikitea      PF     78.13 -23.1203 -134.9692
1             Hilo      US     75.20  19.7297 -155.0900
2          Kavieng      PG     84.72  -2.5744  150.7967
9   Saint-Philippe      RE     77.00 -21.3585   55.7679
13         Cayenne      GF     80.01   4.9333  -52.3333
15          Tambun      ID     89.60  -6.2641  107.0712
16          Atuona      PF     80.15  -9.8000 -139.0333
17           Hobyo      SO     84.54   5.3505   48.5268
23          Bonthe      SL     79.63   7.5264  -12.5050
24        Victoria      HK     75.00  22.2855  114.1577

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ...skipping.")

Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.

In [44]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.13,-23.1203,-134.9692,Pension Maro'i
1,Hilo,US,75.20,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Kavieng,PG,84.72,-2.5744,150.7967,Nusa Island Retreat
9,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
13,Cayenne,GF,80.01,4.9333,-52.3333,Hôtel Le Dronmi

In [50]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))